@tailwind base;
body {
  background: #f8f8f8;
}
.box1 {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  width: 300px;
  height: 100px;
  background: blue;
  transform: rotate(90deg);
  position: absolute;
  bottom: 0;
}
.pexcharts-inner {
  height: 300px !important;
  width: 300px !important;
}
.apexcharts-graphical {
  height: 300px !important;
  width: 300px !important;
}
@tailwind components;
@tailwind utilities;
